.marquee-container {
    overflow: hidden;
    width: 100%;
  }
  
  .marquee-item {
    display: inline-block;
    transition: transform 0.3s ease; /* Smooth transition */
    margin: 0 10px;
    transform: scale(0.8);
  }
  
  /* .marquee-item.active {
    transform: scale(1.1);
    z-index: 1;
  }
   */